@charset "utf-8";
/* CSS Document */

#cuerpo{
	margin: auto;
	padding: 20px 10px 10px 10px;
	background-color: #fff;
	font-size:0.8em;
}

h1{
	font-size:1.5em;
	color: #E17919;
	text-align:center;
}

h2{
	font-size:1.2em;
	color: #6FA7D1;
}

h3{
	font-size:1.0em;
	color: #E17919;
}

table.formulario{
	margin: 0px auto 20px auto;
}

table.formulario td, table.formulario th{
	padding: 5px;
	vertical-align: bottom;
}

table.formulario thead th{
	font-weight: normal;
	color: #6FA7D1;
	vertical-align: top;
}

table.formulario tfoot td{
	text-align: right;
	vertical-align: top;
}

table.lista{
	margin: 0px auto 15px auto;
	border-collapse: collapse;
}

table.lista td, table.lista th{
	padding: 6px;
	vertical-align: middle;
}

table.lista thead th{
	font-weight: normal;
	color: #6FA7DD;
	text-align: center;
	border-bottom: 3px solid #DDECFF;
	
}

table.lista tbody tr{
	border-bottom: 1px solid #ddd;
}

table.lista tfoot td{
	color: #6FA7D1;
	vertical-align: top;
}

table.lista strong, table.formulario strong{
	color: #6FA7D1;
	font-weight: normal;
}

table.contenedor{
	margin: 0px 0px 15px 0px;
	border-collapse: collapse;
}

table.contenedor>td, table.contenedor>th{
	padding: 0px;
	margin: 0px;
}

table.contenedor td{
	vertical-align: top;
}

label.error{ /*Para los erres de validacion*/
	color: #900;
	margin: 0px 0px 0px 10px;
	font-size:0.8em;
}

.button, .button:visited { /* botones genéricos */
background: #222 url(overlay.png) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: none;
}

.button:hover { /* el efecto hover */
background-color: #111;
color: #FFF;
}

.button:active{ /* el efecto click */
top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
font-size: 13px;
font-weight: bold;
line-height: 1;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
font-size:14px;
padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 34px;
padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2981E4; }
.blue.button:hover{ background-color: #2575CF; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }

.tot  {
	background-color: #FF9; /*FFDE36 ffdf2c fed760 FFE496 FFDE36 C9FF93 ffea95*/
	color: #000033; 
	vertical-align : top;
	text-align : right;
	BORDER-BOTTOM: #a9b7c0 1px solid; BORDER-LEFT: #a9b7c0 1px solid; BORDER-RIGHT: #a9b7c0 1px solid; BORDER-TOP: #a9b7c0 1px solid;

	FONT-FAMILY: Verdana, Arial, Helvetica;
	font-size: 1em;	/*8pt*/
	font : bold;
}


/* Color de los registros de listado*/
.odd { background-color: #FFFFFF; }

.even { background-color: #FAF0E6; }

.msg{ color: #900;	margin: 0px 0px 0px 10px; }

em { font-weight: bold; padding-right: 1em; vertical-align: top; font-size:0.8em; color:red; }

.title{ background-image:url(title_nav.jpg);background-repeat:repeat-x;color:#FFF}
.over{	background-color: #DDECF7;	color: #E17009; }
.titulo{font-size:1.2em;color:#FFF;background-color:#E17919;font-weight:bold}

/* Para el * de required struts2 */
span{ color:red; }